*{
    margin: 0;padding: 0;
    
}
.hero-main{
    background-color: black;
    height: 100vh;
    width: 100%;
    background-image: url("/src/View/Hero/protfoliobackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.hero-text{
    background-color: transparent;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.hero-text .upper-light{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.hero-text .upper-light img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-text .mid-bold-text{
    margin-top: 10px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    font-size: 1.4rem;
   color: white; 
}

.bottom-light-text{
    color: rgb(235, 235, 235);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    letter-spacing: 0.5px;
}

.hero-button{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.core{
    height: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.core h3{
    font-size: 15px;
    color: white;
    font-family: 'Manrope', sans-serif;
}

.core-detail{
    color: rgb(157, 157, 157);
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
}
.core-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}
.core-images img{
    height: 35px;
    width: 35px;
}


.connect-button{
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-button p{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.github-button{
    height: 40px;
    width: 200px;
    background-color: transparent;
    border: 1px solid rgba(66, 66, 66, 0.623);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


.github-button p{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    color: white;
}



