.footer-main{
    width: 100%;
    background-image: url("../nocolor.svg");
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.footer-main img{
    margin-top: 100px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    filter: grayscale(50%);
    border: 3px solid rgb(149, 149, 149);
}

.footer-main h2{
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    background: linear-gradient( 
        to right, #2a2a2a,  
         #ffffff); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.footer-main p{
    font-size: 13px;
    margin-top: 5px;
    color: rgb(255, 63, 63);
    font-family: 'Manrope', sans-serif;
}

.connect-icons{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}