.nav{
    height: 4rem;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Manrope', sans-serif;;
    color: rgb(175, 175, 175);
}